body {
    text-align: center;
    background-image: url('../images/Arcade.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3 {
  font-family: monospace;
  font-size: 1.8em;
}

h1 {
  color: blue;
}
